@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
:root{
    --cor-principal: purple;
}
h1{
    font-family:"parisienne",cursive;
    color: blue;
}


p {
    color: var(--cor-principal);
}


#titulo-principal{
    color: blueviolet;
}

.topicos{
    background-color: blue;
    color: azure;
}
a{
    font-weigt: blond;
    text-decoration: none;
    color: cornflowerblue;
}

a:visited {
    color: black;
}

a:hover{
    text-decoration: underline;
}

.especial:hover {
    color: aliceblue;
    background-color: antiquewhite;
    text-decoration: none;
}